---
title: Brand
slug: brand
---

extends ../../layouts/design.jade

block append vars
  - var title = 'Brand'
  - var slug = 'brand'

block content
  .head
    .l-container
      h1.head__title Brand
      p.head__lead.lead.
        Guides on how to use the AXA logo and what
        typeface and colors should be used.

  .l-container
    h1 Logo

    .l-row
      .l-col.l-col--medium-6
        h3 Usage
        p.
          Our logo is the most distilled and ubiquitous
          element of our identity – a universal signature
          across all AXA Winterthur communications. While it
          is a simple logo, we must treat it nicely.
          This page covers the correct usage.
      .l-col.l-col--medium-6
        h3 Logo <strong>without</strong> tagline
        :sample
          .brand
            .brand__logo

        h3 Logo <strong>with</strong> tagline
        :sample
          .brand
            .brand__logo
            .brand__tagline.brand__tagline--de


    h1 Typography

    h2 Primary typeface: ITC Franklin Gothic

    p.
      ITC Franklin Gothic is our corporate
      typeface, which has been selected for use
      with all AXA applications.

    p.
      ITC Franklin Gothic may be used in two
      styles – Book and  Medium.

    p.callout.
      ITC Franklin Gothic Condensed and Italic
      are not approved styles and should not
      be used.

    p.callout.callout--danger.
      ITC Franklin Gothic is not yet implemented
      in the style guide. Your browsers default
      font will render in the examples below.


    h3 ITC Franklin Gothic Book
    p.typeface.typeface--franklin-gothic-book.
      A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
      a b c d e f g h i j k l m n o p q r s t u v w x y z
      0 1 2 3 4 5 6 7 8 9


    h3 ITC Franklin Gothic Medium
    p.typeface.typeface--franklin-gothic-medium.
      A B C D E F G H I J K L M N O P Q R S T U V W X Y  Z
      a b c d e f g h i j k l m n o p q r s t u v w x y z
      0 1 2 3 4 5 6 7 8 9


    h2 Secondary typeface: Arial

    p.
      Arial is our websafe typeface, which
      has been selected to ensure maximum
      compatibility between browsers and
      operating systems.

    p.
      Arial may be used in two styles –
      Regular and Bold.

    p.callout.
      Arial Narrow, Italic and Black are
      not approved styles and should not
      be used.


    h3 Arial regular
    p.typeface.typeface--arial-regular.
      A B C D E F G H I J K L M N O P Q R S T U V W X Y  Z
      a b c d e f g h i j k l m n o p q r s t u v w x y z
      0 1 2 3 4 5 6 7 8 9


    h3 Arial bold
    p.typeface.typeface--arial-bold.
      A B C D E F G H I J K L M N O P Q R S T U V W X Y  Z
      a b c d e f g h i j k l m n o p q r s t u v w x y z
      0 1 2 3 4 5 6 7 8

    h1 Colors

    h2 Primary palette

    .l-row
      .color-palette.color-palette--primary
        each colorCode, colorName in colors.primary
          .l-col(class='l-col--medium-2')
            .color-palette__color
              .color-palette__color__box(style='background: ' + colorCode)
              .color-palette__color__name #{colorName}
              .color-palette__color__code #{colorCode}
              .color-palette__color__var @color-#{colorName}

    h2 Secondary palette

    each colorGroup in colors.secondary
      .color-palette.color-palette--secondary
        h3 #{colorGroup.name}
        .l-row
          each colorCode, colorName in colorGroup.colors
            .l-col(class='l-col--medium-2')
              .color-palette__color
                .color-palette__color__box(style='background: ' + colorCode, class=(colorCode == '#ffffff' ? 'color-palette__color__box--white' : ''))
                .color-palette__color__name #{colorName}
                .color-palette__color__code #{colorCode}
                .color-palette__color__var @color-#{colorName}

    h2 Colors to be defined

    .l-row
      .color-palette.color-palette--primary
        each colorCode, colorName in colors.tbd
          .l-col(class='l-col--medium-2')
            .color-palette__color
              .color-palette__color__box(style='background: ' + colorCode)
              .color-palette__color__name #{colorName}
              .color-palette__color__code #{colorCode}
              .color-palette__color__var @color-#{colorName}
