---
title: Principles
template: design.jade
order: 1
---

p.paragraph.
  Key design principles to guide us all.

//.l-row
//  .l-col.l-col--medium-4.principle
//    img(src=relative('/images/design/principles/brand.jpg'))
//    h2.principle__headline Strengthen the brand image and respect the AXA fundamentals
//  .l-col.l-col--medium-4.principle
//    img(src=relative('/images/design/principles/flatdesign.jpg'))
//    h2.principle__headline Embrace the flat design trend
//  .l-col.l-col--medium-4.principle
//    img(src=relative('/images/design/principles/content.jpg'))
//    h2.principle__headline Focus on the content
//.l-row
//  .l-col.l-col--medium-4.l-col--medium-offset-2.principle
//    img(src=relative('/images/design/principles/simplicity.jpg'))
//    h2.principle__headline Keep it simple
//  .l-col.l-col--medium-4.principle
//    img(src=relative('/images/design/principles/hero.jpg'))
//    h2.principle__headline The power of full screen "hero" images

ul.ul
  li.li Strengthen the brand image and respect the AXA fundamentals
  li.li Embrace the flat design trend
  li.li Focus on the content
  li.li Keep it simple
  li.li The power of full screen "hero" images
// Copyright AXA Versicherungen AG 2015
