<!DOCTYPE html>
<html>
  <!--[if lt IE 10]><html class="lt-ie10"><![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div>
      <h1>Stats:</h1>
      <p>
        {{numberOfFailedTests}} of {{numberOfTests}} tests have failed while
        {{numberOfFailedPages}} of {{numberOfPages}} pages have failing tests.
      </p>
      {{#each pages}}
        <h1>{{page}}</h1>
        {{#each tests}}
          <h2>{{name}}</h2>
          {{#gt misMatchPercentage 0}}
            u fucked up!
            <div>
              <p>expected:</p>
              <img src="../{{expected}}" />
            </div>
            <div>
              <p>actual:</p>
              <img src="../{{screenshot}}" />
            </div>
            <div>
              <p>diff:</p>
              <img src="../{{diff}}" />
            </div>
          {{else}}
            We gud!
          {{/gt}}
        {{/each}}
      {{/each}}
    </div>
  </body>
</html>