{{#> page}}
  {{#*inline "content"}}
    <h1>{{comment.context.name}}</h1>
    <p>{{comment.description}}</p>
    <p>Type: {{comment.context.type}}</p>
    {{#if comment.context.code}}
    <div>
      <h2>Source:</h2>
      <pre>{{comment.context.code}}</pre>
    </div>
    {{/if}}
    {{#if comment.context.value}}
    <div>
      <h2>Source:</h2>
      <pre>{{comment.context.value}}</pre>
    </div>
    {{/if}}
    {{#if comment.parameter}}
      <h2>Parameters:</h2>
      {{#each comment.parameter}}
        <dl>
          <dt>{{name}} ({{type}} - Default: {{default}})</dt>
          <dd>{{description}}</dd>
        <dl>
      {{/each}}
    {{/if}}
    {{#if comment.example}}
      {{#each comment.example}}
        <div>
          <h2>Example {{@index}}: {{description}} ({{type}})</h2>
          <pre>{{code}}</pre>
        </div>
      {{/each}}
    {{/if}}
  {{/inline}}
{{/page}}
