---
title: File Upload
order: 6
template: page.jade
tags: File, Upload, Data, Files, Attachement
---

include ../includes/mixins.jade

p.paragraph A fileupload element lets users upload  one or multiple files to an application or into a form. Its different states are described in this document after a working example.

.toc
  .toc__title Table of contents
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#example').toc__anchor-navigation__link Example
    li.toc__anchor-navigation__item
      a(href='#dropzone').toc__anchor-navigation__link Dropzone
    li.toc__anchor-navigation__item
      a(href='#file-list').toc__anchor-navigation__link File List
    li.toc__anchor-navigation__item
     a(href='#classic').toc__anchor-navigation__link Native File Upload
     li.toc__anchor-navigation__item
      a(href='#single').toc__anchor-navigation__link Single File Upload

h2.heading.heading--secondary#example Example
p.paragraph.
  This is a working example of the fileupload component. Please drag a file into the dropzone.

.example
  include ../includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/form-and-input-elements/demos/fileupload-js.html')
        data-iframe-resizer
      )
.hr

h2.heading.heading--secondary#dropzone Dropzone
p.paragraph.
  The dropzone is the initial state of every fileupload and should be used wherever possible.  If a file upload is not feasible, a classic file upload should be used.

.example
  include ../includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/form-and-input-elements/demos/fileupload-dropzone.html')
        data-iframe-resizer
      )

.toggle
  .toggle__button(data-info, data-target='#code-dropzone')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code-dropzone
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
          .tab-panel__header__tab(data-tab-toggle='js') JavaScript
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/fileupload-dropzone.jade
        .tab-panel__content__tab(data-tab-content='js')
          :markdown
            Use the `data-dropzone` plugin to handle the
            dragover state of the dropzone.
            If you implement the behavior yourself, just add
            the `dragover` modifier to the `dropzone__container`
            block.

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Most mobile devices don’t support dragging files to an upload area. Use the native file picker as a fallback. Use the same solution for IE 9.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Start uploading files, as soon as the user drops them on the dropzone.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Make sure that all files are uploaded before the form is submitted.

.hr

h2.heading.heading--secondary#file-list File List
p.paragraph.
  The file list contains all files that are currently being uploaded, have
  been uploaded or we're interrupted while uploading.

.example
  include ../includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/form-and-input-elements/demos/fileupload-list.html')
        data-iframe-resizer
      )

.toggle
  .toggle__button(data-info, data-target='#code-list')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code-list
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/fileupload-list.jade

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      In case of an error tell the user exactly what happened.
      If the user needs to change something, explain as short
      as possible but as detailed as necessary what he needs to do.

.hr

h2.heading.heading--secondary#classic Native File Upload
p.paragraph.
  The native file upload should be used for browsers that do not support
  drag and drop operations for files.

p.paragraph.
  This is the case for most mobile devices and ancient browser like IE 9.

.example
  include ../includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/form-and-input-elements/demos/fileupload-fallback.html')
        data-iframe-resizer
      )

.toggle
  .toggle__button(data-info, data-target='#code-fallback')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code-fallback
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/fileupload-fallback.jade

.hr
  
h2.heading.heading--secondary#single Single File Upload
p.paragraph.
  Sometimes only one file should be uploaded.
  The uploading and the uploaded file states should replace
  the dropzone in this case.
  In case of an error, display the message below the dropzone.

.example
  include ../includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/form-and-input-elements/demos/fileupload-single.html')
        data-iframe-resizer
      )

.toggle
  .toggle__button(data-info, data-target='#code-single')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code-single
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/fileupload-single.jade

//- Copyright AXA Versicherungen AG 2015
