---
title: Devices
order: 2
template: page.jade
tags: iphone, smartphone, tablet, media query, desktop, mobile
---

p.paragraph.
  New devices with different viewports, screen sizes,
  input modes and other specific attributes are released on a daily basis.
  As of May 2015, we suggest to design for the following device classes:

.l-row(style='text-align: center; background: #eee; padding: 20px; margin: 20px 0;')
  div(style='padding: 10px 0; font-size: 1.2em; font-weight: 600;').
    Viewports
  .l-col.l-col--2(style='border-right: 1px solid #ddd')
    div(style="line-height: 180px;")
      img(src=relative('/images/fundamentals/layout/devices/iphone5-vertical.png'), style="vertical-align: middle; margin: 10px;")
    p.paragraph(style='font-weight: 600;').
      Smartphone    
    p.paragraph.
      320 - 767px
    
  .l-col.l-col--2(style='border-right: 1px solid #ddd')
    div(style="line-height: 180px;")
      img(src=relative('/images/fundamentals/layout/devices/ipad-vertical.png'), style="vertical-align: middle; margin: 10px;")
    p.paragraph(style='font-weight: 600;').
      Tablet
    p.paragraph.
      768 - 1023px
        
  .l-col.l-col--5(style='border-right: 1px solid #ddd')
    div(style="line-height: 180px;")
      img(src=relative('/images/fundamentals/layout/devices/ipad-horizontal.png'), style="vertical-align: middle; margin: 10px;")
      img(src=relative('/images/fundamentals/layout/devices/macbook-air.png'), style="vertical-align: middle; margin: 10px;")
    p.paragraph(style='font-weight: 600;').
      The Unknown
    p.paragraph.
      1024 - 1279px
        
  .l-col.l-col--3
    div(style="line-height: 180px;")
      img(src=relative('/images/fundamentals/layout/devices/imac-27.png'), style="vertical-align: middle; margin: 10px;")
    p.paragraph(style='font-weight: 600;').
      Desktop
    p.paragraph.
      1280px +

:markdown
  # The Unknown
  
  This device class is a mixture of different types of users.
  
  * either on a tablet or a desktop / laptop computer
  * screen sizes ranging from 7inch (iPad Mini Size) up to 13inches (normal laptop)
  * 25% of our current desktop users belong into this device class, decreasing share
  * 8% of mobile & tablet users belong into this device class. increasing share

  ## Recommendations
  
  As of May 2015 the following ideas are recommended
  
  * Use analytics to figure out which audience you serve and how to
    implement this device class in your project – know your customer.
  * If in doubt, lower the desktop breakpoint to 1025 min-width

  The Web Style Guide does not have special designs for this device class.
  Use whatever is more appropriate in your context.

  ## Prepare for the future
  
  As of CSS4, new media query options (e.g. pointer) will be available.
  Prepare that this device class might get split into two separate
  categories with overlapping viewport sizes.

//- Copyright AXA Versicherungen AG 2015
