---
title: Browser not supported (Overlay)
layout: demo.hbs
---
<div class="browser-not-supported-overlay">
  <div class="browser-not-supported">
    <header class="header">
      <div class="header-main">
        <div class="container">
          <a href="#" class="header-brand">
            <img class="header-brand-image" src="{{relative '/images/axa.svg'}}" />
          </a>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="jumbotron">
        <h1>Your browser is not supported.</h1>
        <p>Please use one of the browsers below to view our page.</p>
      </div>
      <div class="row">
        <div class="col-md-3">
          <a class="browser-not-supported-link" href="https://www.google.com/chrome/">
            <span class="h4">Chrome</span>
            <img class="browser-not-supported-browsericon" src="{{relative '/images/legacy-chrome.png'}}">
          </a>
        </div>
        <div class="col-md-3">
          <a class="browser-not-supported-link" href="https://www.microsoft.com/en-us/windows/microsoft-edge">
            <span class="h4">Edge</span>
            <img class="browser-not-supported-browsericon" src="{{relative '/images/legacy-edge.png'}}">
          </a>
        </div>
        <div class="col-md-3">
          <a class="browser-not-supported-link" href="https://www.mozilla.org/en-US/firefox/new/">
            <span class="h4">Firefox</span>
            <img class="browser-not-supported-browsericon" src="{{relative '/images/legacy-firefox.png'}}">
          </a>
        </div>
        <div class="col-md-3">
          <a class="browser-not-supported-link" href="https://support.apple.com/downloads/safari">
            <span class="h4">Safari</span>
            <img class="browser-not-supported-browsericon" src="{{relative '/images/legacy-safari.png'}}">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
