---
cache: true
filename: inspiration.jade
---

include /components/includes/mixins.jade

doctype html
html
  include /components/snippets/head.jade
  body.site(data-site)
    .site__page(data-page)
      .site__page__mask(data-mask)
      #notification.notifications(data-notification-info=relative('/images/icons.svg#info')
        data-notification-success=relative('/images/icons.svg#checkmark')
        data-notification-error=relative('/images/icons.svg#cross'))
      header.header
            .header__meta
                .header__meta__container
                    .header__meta__row
                      .header__meta__item.header__meta__item--search.autocomplete.search.search--header
                        input.autocomplete__input.search__input.search--header(type='text', data-search, data-search-index-data=relative('/searchIndex.json'), data-search-base-url=relative('/'))
                        svg.search__icon.search--header.icon
                          use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="../../images/icons.svg#search")
                      a.header__meta__item.header__meta__item--action(href="https://github.com/axa-ch/style-guide")
                        +svg('github', ['button__icon', 'icon', 'button__icon--left'])
                        | View on GitHub
            .header__main
                .header__main__container
                    .header__main__row
                      a.header__main__item.header__main__item--brand.brand(href=relative("/index.html"))
                        span.brand__logo
                      ul.header__main__item.header__main__item--menu.menu-main(data-menu='main')
                        li.menu-main__item(data-item='')
                          a.menu-main__link(href='#', data-link='') Menu Item 1
                          .menu-main__panel(data-panel='')
                            .row
                              .column.column--4
                                h3 Wohnen &amp; Eigentum
                                ul.menu
                                  li.menu__item
                                    a.menu__link(href='#') Haushaltversicherung Haushalt versicherung  Haushaltversicherung
                                  li.menu__item
                                    a.menu__link(href='#') Hausratversicherung  
                                  li.menu__item
                                    a.menu__link(href='#') Privathaftpflichtversicherung  
                                  li.menu__item
                                    a.menu__link(href='#') Rechtsschutzversicherung
                              .column.column--4
                                h3 Fahrzeug &amp; Reise
                                ul.menu
                                  li.menu__item
                                    a.menu__link(href='#') Autoversicherung  
                                  li.menu__item
                                    a.menu__link(href='#') Autoversicherung f&uuml;r Elektroautos  
                                  li.menu__item
                                    a.menu__link(href='#') Motorradversicherung  
                                  li.menu__item
                                    a.menu__link(href='#') Rechtschutzversicherung
                              .column.column--4
                                h3 Vorsorge &amp; Sparen
                                ul.menu
                                  li.menu__item
                                    a.menu__link(href='#') Lebenversicherung  
                                  li.menu__item
                                    a.menu__link(href='#') Finanzprodukte  
                                  li.menu__item
                                    a.menu__link(href='#') Fondsinformationen  
                                  li.menu__item
                                    a.menu__link(href='#') Aktuelle Zinss&auml;tze

                        li.menu-main__item
                          a.menu-main__link(href='#', data-link='') Menu Item 2
                        li.menu-main__item
                          a.menu-main__link(href='#', data-link='') Menu Item 3
                          
                      a.header__main__item.header__main__item--mobile-action.site__burger(data-burger, href="#")
                        svg.icon.burger-icon(data-burger)
                          g(stroke="currentColor", stroke-width="2", fill="none", fill-rule="evenodd")
                            path(d="M0,5 L24,5", class="burger-icon__top")
                            path(d="M0,12 L24,12", class="burger-icon__middle")
                            path(d="M0,19 L24,19", class="burger-icon__bottom")


      div!= contents
          
      footer.footer
          .footer__copyline.footer-copyline
            .footer-copyline__container
              span.footer-copyline__notice.
                #{config.copyright} #[+svg('doge', ['icon'])]
              ul.footer-copyline__entries
                li.footer-copyline__item
                  a.footer-copyline__link(href="https://github.com/axa-ch/style-guide") GitHub
                li.footer-copyline__item
                  a.footer-copyline__link(href="https://github.com/axa-ch/style-guide/issues") Issues & Feature Requests
                li.footer-copyline__item
                  a.footer-copyline__link(href="https://github.com/axa-ch/style-guide/releases") Changelog


    .site__mobile.mobile(data-mobile)
      .row
        .column.mobile__section
          h1.mobile__title Web Style Guide

      .row
        nav.column.mobile-menu.mobile-menu--sliding(data-menu='sliding')
          ul.mobile-menu__level(data-level)
            li.mobile-menu__item
              a.mobile-menu__link(
                href=relative('/index.html'),
                data-link
              ) Home
            each section in navigation
              +displayMobileMenu(section)

      .row
        .column.mobile__separator

      .row
        .column.list-group
          a.list-group__item.list-group__item--link(href="https://github.com/axa-ch/style-guide")
            +svg('github', ['list-group__icon'])
            span.list-group__text View on GitHub

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.80/Bacon.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.1/iframeResizer.min.js")
    script(src=relative('/js/style-guide-docs.js'))

    script.
      var href = '#{relative(link)}'
      var mobile = $('[data-menu="sliding"]')
      
      var level = mobile
        .find('[data-link]')
        .filter('[href=\'' + href + '\']')
        .closest('[data-level]')
      
      if (level.length > 0) {
        mobile.slidingMenu('level', level)
      }

    script window.intercomSettings = { app_id: 'i82zr1ej' }
    script(src="//www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}")
    script (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/i82zr1ej';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()

//- Copyright AXA Versicherungen AG 2015
