---
template: master.jade
cache: true
filename: _left-menu.jade
---

- var pathName = function(path) { return menu + "__" + path.join('__').replace(/\s/g, '_'); }
- var getTopLevel = function(collection) { if(!collection|| !config[menu]) { return null; } for (var i = 0; i < config[menu].length; i++) { current = config[menu][i]; if (collection.indexOf(pathName([current.name])) != -1) { return current; } if (current.children) { for (var j = 0; j < current.children.length; j++) { if (collection.indexOf(pathName([current.name, current.children[j].name])) != -1) { return current; } } } } return null; }
- // TODO
- var topLevel = getTopLevel(partOfCollections);
- var getFirstPage = function(item, path) { if(!path) { path = [] } path.push(item.name); var page = null; var collection = collections[pathName(path)]; if(collection) { page = collection[0]; } if(page != null) { return page } else { if(item.children && item.children.length > 0) { return getFirstPage(item.children[0], path); } else { return null; } } }

mixin pageLink(page)
  li.menu__item
    a.menu__link(
      href=relative(page.link)
      class={'is-active': link == page.link}
    )
      = page.title
      if page.status != undefined
        = ' '
        if page.status == 'experimental'
          span.tag.tag--danger= page.status
        else if page.status == 'new'
          span.tag.tag--success= page.status
        else
          span.tag.tag--default= page.status

.l-container
  .l-row
    .l-docs-menu

      if topLevel
        nav.left-navigation
          - var collection = collections[pathName([topLevel.name])]
          if collection
            .left-navigation__menu
              ulmenu.menu--left
                each page in collection
                  mixin pageLink(page)

          if topLevel.children
            each secondLevel in topLevel.children
              - var path = [topLevel.name, secondLevel.name]
              - var collection = collections[pathName(path)]
              if collection && collection.length > 0
              .left-navigation__category
                - var active = false
                - collection.forEach(function(page) { if(page.link == link) { active = true; } })
                .left-navigation__category__headline= secondLevel.name
                .left-navigation__category__menu(class={'is-active': active})
                  ul.menu.menu--left
                    each page in collection
                      mixin pageLink(page)


    .l-docs-main
      h1.heading.heading--page= title

      != contents

// Copyright AXA Versicherungen AG 2015
