---
cache: true
filename: demo.jade
---

doctype html
html
  <!--[if lt IE 10]><html class="lt-ie10"><![endif]-->
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width")
    meta(name="description", content=config.description)
    meta(name="keywords", content=config.keywords)
    meta(name="author", content=config.author)
        
    title #{title} | Demo | #{config.name}
    link(rel="stylesheet", href="//fast.fonts.net/cssapi/1da4c08a-73a4-4e34-8997-1c1eeb1a8cca.css")
    link(rel="stylesheet", href=relative("/css/normalize.min.css"))
    link(rel="stylesheet", href=relative("/css/style.min.css"))

    script(src=relative('/js/docs-examples.all.min.js'))
    
  body
    .example!= contents
    
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.80/Bacon.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.1/iframeResizer.min.js")
    script(src=relative('/js/style-guide-docs.js'))

//- Copyright AXA Versicherungen AG 2015
