---
template: master.jade
segment: development
---

.l-row
  .l-docs-menu

    ul.menu.menu--left
      if (typeof(development) !== 'undefined')
        each page in development
          li.menu__item
            a(href=relative(page.link), class=(link == page.link ? 'is-active' : '')).menu__link= page.title
      li.menu__item
        .menu__link.menu__link--category Blocks
        ul.menu
          if (typeof(development_blocks) !== 'undefined')
            each page in development_blocks
              li.menu__item
                a(href=relative(page.link), class=(link == page.link ? 'is-active' : '')).menu__link= page.title
      li.menu__item
        .menu__link.menu__link--category Plugins
        ul.menu
          if (typeof(development_plugins) !== 'undefined')
            each page in development_plugins
              li.menu__item
                a(href=relative(page.link), class=(link == page.link ? 'is-active' : '')).menu__link= page.title
      li.menu__item
        .menu__link.menu__link--category Mixins
        ul.menu
          if (typeof(development_mixins) !== 'undefined')
            each page in development_mixins
              li.menu__item
                a(href=relative(page.link), class=(link == page.link ? 'is-active' : '')).menu__link= page.title

  .l-docs-main
    div!= contents
    // ko if: hasGitHubIntegration
    .contribute
      .contribute__row
        .contribute__image
          img(src='', data-octocat).contribute__octocat
        .contribute__content
          .contribute__headline Contribute to this article
          p.contribute__text(data-bind='visible: !github.isSignedIn()').
            To contribute to this article
          please sign in with GitHub
          p(data-bind='visible: !github.isSignedIn()')
            img(src='https://www.scopevisio.com/sites/all/themes/scopevisio/images/loading.gif', data-bind='visible: github.isAuthenticating()').menu__link
            a(href='#', data-bind="visible: !github.isAuthenticating(), attr: { href: github.getAuthUrl() }").button.button--small.button--primary Sign in with GitHub
          p.contribute__text(data-bind='visible: github.isSignedIn()')
            | Want to edit or suggest changes
            | to this content? You can edit and
            | submit changes to
            a(href=config.repository.url + '/blob/master/docs' + ((link ? link : '').replace(/\.html$/, '.jade')))  this article
            |  using GitHub.
    // /ko
