doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="description", content=config.description)
    meta(name="keywords", content=config.keywords)
    meta(name="author", content=config.author)

    title= title

    link(rel="stylesheet", href="/css/docs.css")

    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/URI.js/1.11.2/URI.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/localforage/1.1.1/localforage.min.js')

    script(src="/js/style.all.js")
    script(src="/js/api.js")
    script(src="/js/github-integration.js")
    script(src="/js/main.js")

  body.site
    .site__page
      header.header.header--main
        .l-container
          .header__mobile-trigger(data-toggle='site-menu', data-target='.site')
          a.header__brand.brand(href="/")
            .brand__logo
            .brand__tagline.brand__tagline--de
          .header__meta
            .header__meta__upper
              .header__meta__menu
                ul.menu.menu--meta
                  li.menu__item(class=(segment == 'design' ? 'is-active' : ''))
                    a(href='/design').menu__link Design Guidelines
                  li.menu__item(class=(segment == 'development' ? 'is-active': ''))
                    a(href='/development').menu__link Developer Toolkit
                  li.menu__item(class=(segment == 'examples' ? 'is-active': ''))
                    a(href='/examples').menu__link Examples
            .header__meta__lower
              .header__meta__welcome
                ul
                  li.header__meta__welcome__item
                    if segment == 'design'
                      span Design Guidelines
                    else if segment == 'development'
                      span Developer Toolkit
                    else if segment == 'examples'
                      span Examples
                    else
                      span Web Style Guide

      .hr

      .l-container!= contents

      .hr

      footer.footer
        .footer__copyline
          .footer__copyline__inner
            .l-container
              ul.copyline-menu
                // ko if: hasGitHubIntegration && github.repo() !== null
                li.copyline-menu__item
                  a.copyline-menu__link(href=config.repository.url, title=config.repository.name)= config.repository.name
                // /ko
                li.copyline-menu__item
                  span.copyline-menu__text Copyright AXA Versicherungen AG 2014

    .site__mobile-menu
      nav.menu.menu--collapsing(data-menu="collapsing", data-exclusive="data-exclusive")
        ul.menu__level.is-open
          li.menu__item
            a(href='/').menu__link.icon.icon--home Home
          li.menu__item
            a(href='#').menu__link.is-parent Desgin
            ul.menu__level
              if (typeof(design) !== 'undefined')
                each page in design
                  li.menu__item
                    a(href=page.link, class=(link == page.link ? 'is-active' : '')).menu__link= page.title
              li.menu__item
                a(href='#').menu__link.is-parent Fundamentals
                ul.menu__level
                  if (typeof(design_fundamentals) !== 'undefined')
                    each page in design_fundamentals
                      li.menu__item
                        a(href=page.link, class=(link == page.link ? 'is-active' : '')).menu__link= page.title
              li.menu__item
                a(href='#').menu__link.is-parent Components
                ul.menu__level
                  if (typeof(design_components) !== 'undefined')
                    each page in design_components
                      li.menu__item
                        a(href=page.link, class=(link == page.link ? 'is-active' : '')).menu__link= page.title
          li.menu__item
            a(href='#').menu__link.is-parent Development
            ul.menu__level
              if (typeof(development) !== 'undefined')
                each page in development
                  li.menu__item
                    a(href=page.link, class=(link == page.link ? 'is-active' : '')).menu__link= page.title
              li.menu__item
                .menu__link.is-parent Blocks
                ul.menu__level
                  if (typeof(development_blocks) !== 'undefined')
                    each page in development_blocks
                      li.menu__item
                        a(href=page.link, class=(link == page.link ? 'is-active' : '')).menu__link= page.title
              li.menu__item
                .menu__link.is-parent Plugins
                ul.menu__level
                  if (typeof(development_plugins) !== 'undefined')
                    each page in development_plugins
                      li.menu__item
                        a(href=page.link, class=(link == page.link ? 'is-active' : '')).menu__link= page.title
              li.menu__item
                .menu__link.is-parent Mixins
                ul.menu__level
                  if (typeof(development_mixins) !== 'undefined')
                    each page in development_mixins
                      li.menu__item
                        a(href=page.link, class=(link == page.link ? 'is-active' : '')).menu__link= page.title

    script(type='text/javascript').
      var viewModel = new MainViewModel(!{JSON.stringify(config)});
      ko.applyBindings(viewModel);
      viewModel.init();
