doctype html
html
  head
    title= title
    link(rel="stylesheet", href="css/docs.css")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content=config.description)
    meta(name="keywords", content=config.keywords)
    meta(name="author", content=config.author)

    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src='js/site.js')

  body.site
    .site__page
      header.header.header--main.l-holder
        .l-row
          .header__mobile-trigger(data-toggle='site-menu')
          .header__brand.brand
            .brand__logo
            .brand__tagline.brand__tagline--de
          .header__meta
            .header__meta__upper
              .header__meta__language.menu.menu--language
              .header__meta__menu.menu.menu--meta
            .header__meta__lower
              .header__meta__social.menu.menu--social
                ul
                  li.menu__item
                    a(href=config.repository.url, title=config.repository.name) GitHub
              .header__meta__welcome
                ul
                  li.header__meta__welcome__item Welcome to the AXA Style Guide

      .l-holder
        nav.l-row.menu.menu--main
          ul
            li.menu__item(class=slug === 'home' ? 'is-active' : undefined)
              a(href="index.html", class=slug === 'home' ? 'is-active' : undefined) Home
            li.menu__item(class=slug === 'visuals' ? 'is-active' : undefined)
              a(href="visuals.html", class=slug === 'visuals' ? 'is-active' : undefined) Visuals
            li.menu__item(class=slug === 'mixins' ? 'is-active' : undefined)
              a(href="mixins.html", class=slug === 'mixins' ? 'is-active' : undefined) Mixins


      .l-holder
        .l-row!= contents

      footer.l-holder

    .site__mobile-menu
      some mobile nav here
