---
cache: true
filename: page.jade
---

include /components/includes/mixins.jade

mixin displaySideMenu(pages, isNested, isOpen)
  ul(class={
    'left__menu': !isNested,
    'menu': !isNested,
    'menu--left': !isNested,
    'menu__level': isNested,
    'is-open': isNested && isOpen
  })
    each page in pages
      li.menu__item
        a.menu__link(
          href=relative(page.link),
          class={ 'is-active': isActive(page), 'is-open': isActive(page) }
        ) #{page.title}
          if page.children
            .menu__dropdown__icon(class={ 'is-open': isActive(page) })
              +svg('arrow-right', ['menu__dropdown__icon__is-closed', 'icon-svg'])
              +svg('arrow-bottom', ['menu__dropdown__icon__is-open', 'icon-svg'])

        if page.children
          +displaySideMenu(page.children, true, isActive(page))

mixin displayMobileMenu(page)
  li.mobile-menu__item
    a.mobile-menu__link(
      class={
        'mobile-menu__link--parent': page.children,
        'is-active': isActive(page)
      },
      data-link
      href=(!page.children ? relative(page.link) : '#')
    )
      span.mobile-menu__text= page.title
      if page.children
        +svg('arrow-right', ['mobile-menu__link__parent-icon', 'icon-svg'])

    if page.children
      ul.mobile-menu__level(data-level)
        li.mobile-menu__item.mobile-menu__item--back
          a.mobile-menu__link.mobile-menu__link--back(
            href='#',
            data-back
          )
            span.mobile-menu__text back
            +svg('arrow-left', ['mobile-menu__link__back-icon', 'icon-svg'])
        
        li.mobile-menu__item.mobile-menu__item--section
          .mobile-menu__link.mobile-menu__link--section
            span.mobile-menu__text= page.title
        
        each child in page.children
          +displayMobileMenu(child)

doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width")
    meta(name="description", content=config.description)
    meta(name="keywords", content=config.keywords)
    meta(name="author", content=config.author)
      
    // iOS app icon
    mixin appicon_ios(size)
      - var s = size + "x" + size
      link(rel="apple-touch-icon-precomposed", sizes=s, href=relative("/images/app-icon/ios/"+s+".png"))
        
    +appicon_ios("57")
    +appicon_ios("72")
    +appicon_ios("76")
    +appicon_ios("114")
    +appicon_ios("120")
    +appicon_ios("144")
    +appicon_ios("152")
    +appicon_ios("180")
    
    meta(name="apple-mobile-web-app-title", content=config.name)
      
    link(media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)", rel="apple-touch-startup-image", href=relative("/images/splash-screen/ios/750x1294.png"))
    
    // android/chrome app iocn
    link(rel="manifest", href=relative("/content/manifest.json"))
    link(rel="icon", sizes="192x192", href=relative("/images/app-icon/android/192x192.png"))
    meta(name="mobile-web-app-capable", content="yes")
      
    // windows tiles
    meta(name="application-name", content=config.name)
    meta(name="msapplication-square70x70logo", content=relative("/images/app-icon/windows/128x128.png"))
    meta(name="msapplication-square150x150logo", content=relative("/images/app-icon/windows/270x270.png"))
    meta(name="msapplication-wide310x150logo", content=relative("/images/app-icon/windows/558x270.png"))
    meta(name="msapplication-square310x310logo", content=relative("/images/app-icon/windows/558x558.png"))

    title #{title} | #{config.name}
    link(rel="stylesheet", href="//fast.fonts.net/cssapi/1da4c08a-73a4-4e34-8997-1c1eeb1a8cca.css")
    link(rel="stylesheet", href=relative("/css/normalize.min.css"))
    link(rel="stylesheet", href=relative("/css/docs.min.css"))

  body.site(data-site)
    .site__page(data-page)
      .site__page__mask(data-mask)
      #notification.notifications(data-notification-info=relative('/images/icons.svg#info')
        data-notification-success=relative('/images/icons.svg#checkmark')
        data-notification-error=relative('/images/icons.svg#cross'))
      header.header
        .header__meta
          .header__meta__content
            .header__meta__item.header__meta__search.autocomplete.search.search--header
              input.autocomplete__input.search__input.search--header(type='text', data-search, data-search-index-data=relative('/searchIndex.json'), data-search-base-url=relative('/'))
              svg.search__icon.search--header.icon-svg
                use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="../../images/icons.svg#search")
            a.header__meta__item.header__meta__action(href="https://github.com/axa-ch/style-guide")
              +svg('github', ['button__icon', 'icon-svg', 'button__icon--left'])
              | View on GitHub
        .header__main
          .header__main__content
            a.header__brand.brand(href=relative("/index.html"))
              span.brand__logo
            .header__menu
              ul.menu-main
                each page in navigation
                  li.menu-main__item(class={ 'is-active': isActive(page) })
                    a.menu-main__link(class={ 'is-active': isActive(page) }, href=relative(page.link))= page.title
            a.header__main__mobile-trigger.site__burger(data-burger, href="#")
              svg.header__main__mobile-icon.icon-svg.burger-icon(data-burger)
                g(stroke="currentColor", stroke-width="2", fill="none", fill-rule="evenodd")
                  path(d="M0,5 L24,5", class="burger-icon__top")
                  path(d="M0,12 L24,12", class="burger-icon__middle")
                  path(d="M0,19 L24,19", class="burger-icon__bottom")

      .page-content
        if section
          .row
            nav.column.column--docs-side
              +displaySideMenu(section.children, false, true)
            .column.column--docs-main
              if headline !== false
                h1.heading.heading--page #{title}
              div!= contents

        else
          if headline !== false
            h1.heading.heading--page #{title}
          div!= contents
          
      footer.footer
        .footer__copyline.footer-copyline
          .footer-copyline__container
            span.footer-copyline__notice.
              #{config.copyright} #[+svg('doge', ['icon-svg'])]
            ul.footer-copyline__entries
              li.footer-copyline__item
                a.footer-copyline__link(href="https://github.com/axa-ch/style-guide") GitHub
              li.footer-copyline__item
                a.footer-copyline__link(href="https://github.com/axa-ch/style-guide/issues") Issues & Feature Requests
              li.footer-copyline__item
                a.footer-copyline__link(href="https://github.com/axa-ch/style-guide/releases") Changelog

    .site__mobile.mobile(data-mobile)
      .row
        .column.mobile__section
          h1.mobile__title Web Style Guide

      .row
        nav.column.mobile-menu.mobile-menu--sliding(data-menu='sliding')
          ul.mobile-menu__level(data-level)
            li.mobile-menu__item
              a.mobile-menu__link(
                href=relative('/index.html'),
                data-link
              ) Home
            each section in navigation
              +displayMobileMenu(section)

      .row
        .column.mobile__separator

      .row
        .column.list-group
          a.list-group__item.list-group__item--link(href="https://github.com/axa-ch/style-guide")
            +svg('github', ['list-group__icon'])
            span.list-group__text View on GitHub

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.80/Bacon.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.1/iframeResizer.min.js")
    script(src=relative('/js/style-guide-docs.js'))

    script.
      var href = '#{relative(link)}'
      var mobile = $('[data-menu="sliding"]')
      
      var level = mobile
        .find('[data-link]')
        .filter('[href=\'' + href + '\']')
        .closest('[data-level]')
      
      if (level.length > 0) {
        mobile.slidingMenu('level', level)
      }

    script window.intercomSettings = { app_id: 'i82zr1ej' }
    script(src="//www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}")
    script (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/i82zr1ej';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()

//- Copyright AXA Versicherungen AG 2015
