---
cache: true
filename: page.jade
---

include /components/includes/mixins.jade

mixin displaySideMenu(pages, isNested, isOpen)
  ul(class={
    'left__menu': !isNested,
    'menu': !isNested,
    'menu--left': !isNested,
    'menu__level': isNested,
    'is-open': isNested && isOpen
  })
    each page in pages
      li.menu__item
        a.menu__link(
          href=relative(page.link),
          class={ 'is-active': isActive(page), 'is-open': isActive(page) }
        ) #{page.title}
          if page.children
            .menu__dropdown__icon(class={ 'is-open': isActive(page) })
              +svg('arrow-right', ['menu__dropdown__icon__is-closed', 'icon-svg'])
              +svg('arrow-bottom', ['menu__dropdown__icon__is-open', 'icon-svg'])

        if page.children
          +displaySideMenu(page.children, true, isActive(page))

doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width")
    meta(name="description", content=config.description)
    meta(name="keywords", content=config.keywords)
    meta(name="author", content=config.author)
      
    // iOS app icon
    mixin appicon_ios(size)
      - var s = size + "x" + size
      link(rel="apple-touch-icon-precomposed", sizes=s, href=relative("/images/app-icon/ios/"+s+".png"))
        
    +appicon_ios("57")
    +appicon_ios("72")
    +appicon_ios("76")
    +appicon_ios("114")
    +appicon_ios("120")
    +appicon_ios("144")
    +appicon_ios("152")
    +appicon_ios("180")
    
    meta(name="apple-mobile-web-app-title", content=config.name)
      
    link(media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)", rel="apple-touch-startup-image", href=relative("/images/splash-screen/ios/750x1294.png"))
    
    // android/chrome app iocn
    link(rel="manifest", href=relative("/content/manifest.json"))
    link(rel="icon", sizes="192x192", href=relative("/images/app-icon/android/192x192.png"))
    meta(name="mobile-web-app-capable", content="yes")
      
    // windows tiles
    meta(name="application-name", content=config.name)
    meta(name="msapplication-square70x70logo", content=relative("/images/app-icon/windows/128x128.png"))
    meta(name="msapplication-square150x150logo", content=relative("/images/app-icon/windows/270x270.png"))
    meta(name="msapplication-wide310x150logo", content=relative("/images/app-icon/windows/558x270.png"))
    meta(name="msapplication-square310x310logo", content=relative("/images/app-icon/windows/558x558.png"))

    title #{title} | #{config.name}
    link(rel="stylesheet", href="//fast.fonts.net/cssapi/1da4c08a-73a4-4e34-8997-1c1eeb1a8cca.css")
    link(rel="stylesheet", href=relative("/css/normalize.min.css"))
    link(rel="stylesheet", href=relative("/css/docs.min.css"))

    script(src=relative('/js/docs.all.min.js'))
    script(src="//www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}")
    
    script.
      // Set the locale for momentjs used in the datepicker
      moment.locale('en_GB')
          
    script.
      // Include the UserVoice JavaScript SDK (only needed once on a page)
      UserVoice=window.UserVoice||[];
      UserVoice.push(['set', {
        accent_color: '#103184',
        screenshot_enabled: false
      }]);
      (function(){
        var uv=document.createElement('script');
        uv.type='text/javascript';
        uv.async=true;
        uv.src='//widget.uservoice.com/O8ex403PfbC0GjKz3DuQ.js';
        var s=document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(uv,s)
      })();

  body.site
    .site__page
      #notification.notifications(data-notification-info=relative('/images/icons.svg#info')
        data-notification-success=relative('/images/icons.svg#checkmark')
        data-notification-error=relative('/images/icons.svg#cross'))
      .l-container
        .docs-floating-action
          a(href='#feedback', data-uv-trigger).docs-floating-action__button.button.button--floating
            +svg('feedback', ['button__icon', 'icon-svg'])
      header.header
        .header__meta
          .header__meta__content
            .header__meta__item.header__meta__search.autocomplete.search.search--header
              input.autocomplete__input.search__input.search--header(type='text', data-search, data-search-index-data=relative('/searchIndex.json'), data-search-base-url=relative('/'))
              svg.search__icon.search--header.icon-svg
                use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="../../images/icons.svg#search")
            a.header__meta__item.header__meta__action(href="https://github.com/axa-ch/style-guide")
              +svg('github', ['button__icon', 'icon-svg', 'button__icon--left'])
              | View on GitHub
        .header__main
          .header__main__content
            a.header__brand.brand(href=relative("/index.html"))
              span.brand__logo
            .header__menu
              ul.menu.menu--main
                each page in navigation
                  li.menu__item(class={ 'is-active': isActive(page) })
                    a.menu__link(href=relative(page.link))= page.title
            a.header__main__mobile-trigger(href="#")
              +svg('burger', ['header__main__mobile-icon'], { 'data-toggle': 'site-menu', 'data-target': '.site' })

      .page-content.l-container
        if section
          .l-row
            nav.l-col.l-col--medium-2
              +displaySideMenu(section.children, false, true)
            .l-col.l-col--medium-10
              if headline !== false
                h1.heading.heading--page #{title}
              div!= contents

        else
          if headline !== false
            h1.heading.heading--page #{title}
          div!= contents
          
      footer.footer
        .footer__content
        .footer__copyline
          .l-container
            ul.menu.menu--copyline
              li.menu__item
                a(href=relative('/changelog.html')).menu__link Changelog
              li.menu__item
                span.menu__link= config.copyright

    script(type='text/javascript').
      //// Set the right mobile menu level as current
      //var $menu = $("#menu-mobile");
      //var $level = $menu.find("[data-link='!{link}']").closest('.menu__level');
      //
      //$menu.slidingMenu();
      //$menu.slidingMenu('level', $level);
      //
      //// Highlight the right mobile menu link as active
      //$menu.find("[data-link='!{link}']").addClass('is-active')

//- Copyright AXA Versicherungen AG 2015
