doctype html
html
  head
    title= title
    link(rel="stylesheet", href="css/docs.css")
  body
    .site__page
      header.l-holder
        .l-row
          .header--main
            span.header--main__mobile-trigger
            .l-row
              .brand
                .logo
            .l-row
              nav
                ul.menu--main
                  li.menu--main__item.menu--main__item--home(class=slug === 'home' ? 'menu--main__item--active' : undefined)
                    a.link.menu--main__link.menu--main__link--home(href="index.html", class=slug === 'home' ? 'menu--main__link--active' : undefined) Home
                  li.menu--main__item(class=slug === 'visuals' ? 'menu--main__item--active' : undefined)
                    a.link.menu--main__link(href="visuals.html", class=slug === 'visuals' ? 'menu--main__link--active' : undefined) Visuals

      .l-holder
        .l-row!= contents

      footer.l-holder

    .site__mobile-nav
      p Mobile Nav!
