doctype html
html
  head
    title= title
    link(rel="stylesheet", href="css/docs.css")
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src="js/style.all.js")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="description", content=config.description)
    meta(name="keywords", content=config.keywords)
    meta(name="author", content=config.author)

  body.site
    .site__page
      header.header.header--main
        .l-container
          .header__mobile-trigger(data-toggle='site-menu', data-target='.site')
          a.header__brand.brand(href="index.html")
            .brand__logo
            .brand__tagline.brand__tagline--de
          .header__meta
            .header__meta__upper
              .header__meta__language.menu.menu--language
              .header__meta__menu.menu.menu--meta
                if version && version.hash && version.hash.long && version.hash.short
                  .menu__item
                    a.menu__link(href=config.repository.url + '/commit/' + version.hash.long) Build ##{version.hash.short}
            .header__meta__lower
              .header__meta__social
                ul.menu.menu--social
                  li.menu__item
                    a.icon.icon--github(href=config.repository.url, title=config.repository.name)
              .header__meta__welcome
                ul
                  li.header__meta__welcome__item Web Style Guide

      nav.main-nav
        ul.menu.menu--main
          li.menu__item(class=slug === 'home' ? 'is-active' : undefined)
            a(href="index.html", class=slug === 'home' ? 'is-active' : undefined).menu__link.menu__link--home
          li.menu__item(class=slug === 'getting-started' ? 'is-active' : undefined)
            a(href="getting-started.html", class=slug === 'getting-started' ? 'is-active' : undefined).menu__link.menu__link--getting-started Getting Started
          li.menu__item(class=slug === 'brand' ? 'is-active' : undefined)
            a(href="brand.html", class=slug === 'brand' ? 'is-active' : undefined).menu__link Brand
          li.menu__item(class=slug === 'typography' ? 'is-active' : undefined)
            a(href="typography.html", class=slug === 'typography' ? 'is-active' : undefined).menu__link Typography
          li.menu__item(class=slug === 'visuals' ? 'is-active' : undefined)
            a(href="visuals.html", class=slug === 'visuals' ? 'is-active' : undefined).menu__link Visuals
          li.menu__item(class=slug === 'mixins' ? 'is-active' : undefined)
            a(href="mixins.html", class=slug === 'mixins' ? 'is-active' : undefined).menu__link Mixins
          li.menu__item(class=slug === 'interactions' ? 'is-active' : undefined)
            a(href="interactions.html", class=slug === 'interactions' ? 'is-active' : undefined).menu__link Interactions
          li.menu__item(class=slug === 'recommendations' ? 'is-active' : undefined)
            a(href="recommendations.html", class=slug === 'recommendations' ? 'is-active' : undefined).menu__link Recommendations

      section!= contents

      footer.footer
        .footer__copyline
          .footer__copyline__inner
            .l-container
              ul.copyline-menu
                li.copyline-menu__item
                  a.copyline-menu__link(href=config.repository.url, title=config.repository.name) GitHub
                li.copyline-menu__item
                  span.copyline-menu__text Copyright AXA Versicherungen AG 2014

    .site__mobile-menu
      nav
        ul.menu.menu--sliding(data-menu="collapsing")
          li.menu__item(class=slug === 'home' ? 'is-active' : undefined)
            a(href="index.html", class=slug === 'home' ? 'is-active' : undefined).menu__link Home
          li.menu__item(class=slug === 'getting-started' ? 'is-active' : undefined)
            a(href="getting-started.html", class=slug === 'getting-started' ? 'is-active' : undefined).menu__link Getting Started
          li.menu__item(class=slug === 'typography' ? 'is-active' : undefined)
            a(href="typography.html", class=slug === 'typography' ? 'is-active' : undefined).menu__link Typography
          li.menu__item(class=slug === 'visuals' ? 'is-active' : undefined)
            a(href="visuals.html", class=slug === 'visuals' ? 'is-active' : undefined).menu__link Visuals
          li.menu__item(class=slug === 'mixins' ? 'is-active' : undefined)
            a(href="mixins.html", class=slug === 'mixins' ? 'is-active' : undefined).menu__link Mixins
          li.menu__item(class=slug === 'interactions' ? 'is-active' : undefined)
            a(href="interactions.html", class=slug === 'interactions' ? 'is-active' : undefined).menu__link Interactions
          li.menu__item(class=slug === 'recommendations' ? 'is-active' : undefined)
            a(href="recommendations.html", class=slug === 'recommendations' ? 'is-active' : undefined).menu__link Recommendations

    script(type='text/javascript').
      $('.js-affix-under-head').affix({
        offset: {
          top: function () {
            var $head = $('.head');
            return $head.offset().top + $head.height() + 40;
          }
        }
      });
