---
title: Color
template: design.jade
order: 1
---

:markdown
  Use these colors to guide your designs and to ensure you’re staying consistent with the AXA brand.

.downloads
  a(href="../AXA.aco").downloads__link Download swatches


h2.heading.heading--secondary Primary palette

.color-palette
  .l-row
    each colorCode, colorName in colors.primary
      .l-fourth
        .color-palette__color
          .color-palette__color__box(style='background: ' + colorCode)
          .color-palette__color__content
            .color-palette__color__code(data-clipboard-text=colorCode) #{colorCode}
            .color-palette__color__less(data-clipboard-text='@color-' + colorName) @color-#{colorName}

h2.heading.heading--secondary Secondary palette

.color-palette
  each colorGroup in colors.secondary
    .l-row
      each colorCode, colorName in colorGroup.colors
        .l-thumbnail
            .color-palette__color.color-palette__color--secondary
              .color-palette__color__box.color-palette__color__box--secondary(style='background: ' + colorCode)
              .color-palette__color__content
                .color-palette__color__code(data-clipboard-text=colorCode) #{colorCode}
                .color-palette__color__less(data-clipboard-text='@color-' + colorName) @color-#{colorName}

//h2.heading.heading--secondary Colors not in a palette
//
//.color-palette
//  .l-row
//    each colorCode, colorName in colors.tbd
//      .l-thumbnail
//        .color-palette__color.color-palette__color--secondary
//          .color-palette__color__box.color-palette__color__box--secondary(style='background: ' + colorCode)
//          .color-palette__color__content
//            .color-palette__color__code(data-clipboard-text=colorCode) #{colorCode}
//            .color-palette__color__less(data-clipboard-text='@color-' + colorName) @color-#{colorName}

script.
  $('[data-clipboard-text]').each(function (i, el) {
    new ZeroClipboard(el);
  });
// Copyright AXA Versicherungen AG 2015
