---
title: Overview
template: page.jade
headline: false
---

.l-container.l-container--docs-home
  h1.heading.heading--docs-home Welcome to the AXA Web Style Guide
  .l-row
    each item in navigation
      .thumbnail.l-half
        a.thumbnail__img-link(href=relative(item.link))
          img.thumbnail__img(src=relative(item.thumbnail), alt=item.title)
        h2.thumbnail__heading
          a.thumbnail__link(href=relative(item.link))= item.title
        p.thumbnail__text!= item.description

//- Copyright AXA Versicherungen AG 2015
