---
title: Overview
template: page.jade
headline: false
---
  
mixin thumbnail(item)
  if item
    .thumbnail.l-half
      span!= item.link
      - console.log(item)
      a.thumbnail__img-link(href=relative(item.link))
        img.thumbnail__img(src=relative('/images/home/' + item.title.replace(new RegExp(' ', 'g'), '_') + '.svg'), alt=item.title)
      h2.thumbnail__heading
        a.thumbnail__link(href=relative(item.link)) #{item.title}
      p.thumbnail__text!= item.description
  
.l-container.l-container--docs-home
  h1.heading.heading--docs-home Welcome to the AXA Web Styleguide  
  - var items = collections['nav']
  if items
    - var i = 0
    while i < items.length
      .l-row
        +thumbnail(items[i])
        +thumbnail(items[i+1])   
      - i+=2 

// Copyright AXA Versicherungen AG 2015
