---
title: Colors
order: 2
collection: nav__fundamentals__design
template: page.jade
---

include ../../components/includes/mixins.jade

p.paragraph.
  Use these colors to guide your designs and to ensure you’re staying consistent with the AXA brand.

p.callout
  | Copy the color code or the less variable name to the clipboard by clicking the 
  +svg('clipboard', ['color-palette__key__icon', 'icon-svg'])
  |  icon below.

.bubble
  .bubble__image
    img(src=relative('/images/psd.svg'))
  .bubble__content
    .bubble__title
      .bubble__title__text Adobe Color file (.aco)
    .bubble__text
      p.paragraph.
        Download the Adobe Color file and import the color swatches
        seen below into Adobe Photoshop or your tool of choice.

.downloads
  +svg('download', ['downloads__icon', 'icon-svg'])
  .downloads__item
    a(href=relative('/content/AXA.aco')).downloads__link Download swatches
  .downloads__item
    a(href=relative('/content/Helveticons-basic-preview.png')).downloads__link Helveticons-basic-preview.png
  .downloads__item
    a(href=relative('/content/Helveticons-extras-preview.png')).downloads__link Helveticons-extras-preview.png

mixin color(colorCode, colorName, modifier)
  .color-palette__color(class=(modifier ? 'color-palette__color--' + modifier : ''))
    .color-palette__color__box(style='background: ' + colorCode, class=(modifier ? 'color-palette__color__box--' + modifier : ''))
    .color-palette__color__content
      .color-palette__color__code
        span #{colorCode}
        != ' '
        +svg('clipboard', ['color-palette__color__copy', 'icon-svg'], {
          attrs: {
            'data-clipboard-text': colorCode
          }
        })
      .color-palette__color__less
        span @color-#{colorName}
        != ' '
        +svg('clipboard', ['color-palette__color__copy', 'icon-svg'], {
          attrs: {
            'data-clipboard-text': '@color-' + colorName
          }
        })

h2.heading.heading--secondary Primary palette

.color-palette
  .l-row
    each colorCode, colorName in colors.primary
      .l-fourth
        +color(colorCode, colorName, undefined)

h2.heading.heading--secondary Secondary palette

.color-palette
  each colorGroup in colors.secondary
    .l-row
      each colorCode, colorName in colorGroup.colors
        .l-thumbnail
          +color(colorCode, colorName, 'secondary')

script
  != 'ZeroClipboard.config({ swfPath: \'' + relative('/ZeroClipboard.swf') + '\' })'

script.

  clip = new ZeroClipboard($('[data-clipboard-text]'));

  clip.on('ready', function(client) {
      this.on('aftercopy', function(event) {
          $("#notification").notification({
            html: true,
            content: '<strong>' + event.data["text/plain"] + '</strong> copied to clipboard',
            modifier: 'success'
          });
      });
  });

// Copyright AXA Versicherungen AG 2015
