---
title: Templates
description: A collection of real-world templates built using the AXA Web Toolkit.
nav: side/templates
order: 99
---

{{#> page}}
  {{#*inline "content"}}

    <h1 class="docs-h2">{{title}}</h1>

    <p class="lead" style="margin: 50px 0;">
      Components can be composed in different ways. To provide some
      inspiration and real-world use cases, this page contains a couple
      of very helpful templates for you to get started with.
    </p>

    <div class="card-columns">
      {{#each menu.templates.childrenArray}}
        {{#with file}}
          <div class="card">
            <img class="card-img-top img-fluid" src="{{thumbnail}}" alt="{{description}}">
            <div class="card-block">
              <h4 class="card-title">{{title}}</h4>
              <p class="card-text">{{description}}</p>
              <a href="{{relative link}}" class="card-link">View template</a>
            </div>
          </div>
        {{/with}}
      {{/each}}
    </div>
  {{/inline}}
{{/page}}
