mixin svg(id, classes, config)
  - config = config || {}
  - config.attrs = config.attrs || {}
  - path = relative(config.path || '/images/icons.svg') + '#' + id
  svg(class=classes)&attributes(config.attrs)
    use(xlink:href=path)

mixin example(path, options)
  - options = options || {}
  - attrs = {}
  - attrs.iframe = {}
  - if (options.maxHeight) attrs.iframe['data-max-height'] = options.maxHeight
  - if (options.minHeight) attrs.iframe['data-min-height'] = options.minHeight

  .example(
    data-example,
    data-example-disable-mobile = options.disableMobile
    data-example-disable-tablet = options.disableTablet
    data-example-disable-desktop = options.disableDesktop
  )
    .example__header
      .example__device-selection
        a.example__device-selection__device.example__device-selection__device--mobile(data-example-mobile)
          +svg('mobile', ['icon', 'example__device-selection__icon'])
        a.example__device-selection__device.example__device-selection__device--tablet(data-example-tablet)
          +svg('tablet', ['icon', 'example__device-selection__icon'])
        a.example__device-selection__device.example__device-selection__device--desktop(data-example-desktop)
          +svg('desktop', ['icon', 'example__device-selection__icon'])
    .example__content
      iframe.example__iframe(
        src=relative(path)
        data-iframe-resizer
        data-example-iframe
      )&attributes(attrs.iframe)


mixin displaySideMenu(pages, isNested, isOpen)
  ul(class={
    'left__menu': !isNested,
    'menu': !isNested,
    'menu--left': !isNested,
    'menu__level': isNested,
    'is-open': isNested && isOpen
  })
    each page in pages
      li.menu__item
        a.menu__link(
          href=relative(page.link),
          class={ 'is-active': isActive(page), 'is-open': isActive(page) }
        ) #{page.title}
          if page.children
            .menu__dropdown__icon(class={ 'is-open': isActive(page) })
              +svg('arrow-right', ['menu__dropdown__icon__is-closed', 'icon'])
              +svg('arrow-bottom', ['menu__dropdown__icon__is-open', 'icon'])

        if page.children
          +displaySideMenu(page.children, true, isActive(page))

mixin displayMobileMenu(page)
  li.mobile-menu__item
    a.mobile-menu__link(
      class={
        'mobile-menu__link--parent': page.children,
        'is-active': isActive(page)
      },
      data-link
      href=(!page.children ? relative(page.link) : '#')
    )
      span.mobile-menu__text= page.title
      if page.children
        +svg('arrow-right', ['mobile-menu__link__parent-icon', 'icon'])

    if page.children
      ul.mobile-menu__level(data-level)
        li.mobile-menu__item.mobile-menu__item--back
          a.mobile-menu__link.mobile-menu__link--back(
            href='#',
            data-back
          )
            span.mobile-menu__text back
            +svg('arrow-left', ['mobile-menu__link__back-icon', 'icon'])
        
        li.mobile-menu__item.mobile-menu__item--section
          .mobile-menu__link.mobile-menu__link--section
            span.mobile-menu__text= page.title
        
        each child in page.children
          +displayMobileMenu(child)

mixin appicon_ios(size)
  - var s = size + "x" + size
  link(rel="apple-touch-icon-precomposed", sizes=s, href=relative("/images/app-icon/ios/"+s+".png"))
    
//- Copyright AXA Versicherungen AG 2015
