doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="description", content=config.description)
    meta(name="keywords", content=config.keywords)
    meta(name="author", content=config.author)

    title= title

    link(rel="stylesheet", href="../../css/docs.css")

    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src="../../js/style.all.js")

  body.site
    .site__page
      header.header.header--main
        .l-container
          .header__mobile-trigger(data-toggle='site-menu', data-target='.site')
          a.header__brand.brand(href="/")
            .brand__logo

          .header__meta
            .header__meta__upper
              .header__meta__language
                ul.menu.menu--language
                  li.menu__item.is-active
                    a(href='#').menu__link DE
                  li.menu__item
                    a(href='#').menu__link EN

              .header__meta__menu
                ul.menu.menu--meta
                  li.menu__item
                    a(href='../').menu__link Back to overview

            .header__meta__lower
              .header__meta__welcome
                ul
                  li.header__meta__welcome__item Example

      .hr

      .l-container!= contents

      .hr

      footer.footer
        .footer__copyline
          .footer__copyline__inner
            .l-container
              ul.copyline-menu
                li.copyline-menu__item
                  span.copyline-menu__text Copyright AXA Versicherungen AG 2014

    .site__mobile-menu
