<!DOCTYPE html>
<html>
{{> head}}

<body data-site class="site">
  <div data-page class="site__page">
    <div data-mask class="site__page__mask"></div>
    <header class="header">
      <div class="header__meta">
        <div class="header__meta__container">
          <div class="header__meta__row">
            <ul class="header__meta__item header__meta__item--menu meta-menu">
              <li class="meta-menu__item"><a href="#" class="meta-menu__link">Privatkunden</a></li>
              <li class="meta-menu__item is-active"><a href="#" class="meta-menu__link is-active">Unternehmenskunden</a></li>
              <li class="meta-menu__item"><a href="#" class="meta-menu__link">Über AXA</a></li>
            </ul>
            <form action="#" class="header__meta__item header__meta__item--search header-search"><input type="text" class="header-search__input"><button type="submit" class="header-search__button">{{> icon name="search" classes="icon header-search__icon"}}</button></form>
            <div class="header__meta__item header__meta__item--language meta-language"><a href="#" class="meta-language__button">Deutsch</a></div><a href="#" class="header__meta__item header__meta__item--action">myAXA Login</a></div>
        </div>
      </div>
      <div class="header__main">
        <div class="header__main__container">
          <div class="header__main__row">
            <a href="#" class="header__main__item header__main__item--brand brand"><img src="{{relative "/images/logo.svg"}}" alt="AXA logo" class="brand__image"></a>
            <ul data-menu="main" class="header__main__item header__main__item--menu menu-main">
              <li data-item class="menu-main__item is-active"><a href="#" data-link class="menu-main__link is-active">Versicherungen & Mehr</a>
                <div data-panel class="menu-main__panel">Versicherungen & Mehr</div>
              </li>
              <li data-item class="menu-main__item"><a href="#" data-link class="menu-main__link">Schaden</a>
                <div data-panel class="menu-main__panel">
                  <div class="row">
                    <div class="col-md-4">
                      <h2>Wohnen & Eigentum</h2>
                      <ul class="menu">
                        <li class="menu__item"><a href="#" class="menu__link">Haushaltversicherung</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Hausratversicherung</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Privathaftpflichtversicherung</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Rechtsschutzversicherung</a></li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <h2>Fahrzeug & Reise</h2>
                      <ul class="menu">
                        <li class="menu__item"><a href="#" class="menu__link">Autoversicherung</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Autoversicherung für Elektroautos</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Motorradversicherung</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Rechtschutzversicherung</a></li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <h2>Vorsorge & Sparen</h2>
                      <ul class="menu">
                        <li class="menu__item"><a href="#" class="menu__link">Lebenversicherung</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Finanzprodukte</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Fondsinformationen</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Aktuelle Zinssätze</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li data-item class="menu-main__item"><a href="#" data-link class="menu-main__link">Kontakt & Hilfe</a>
                <div data-panel class="menu-main__panel">Kontakt & Hilfe</div>
              </li>
              <li data-item class="menu-main__item"><a href="#" data-link class="menu-main__link">Prävention</a>
                <div data-panel class="menu-main__panel">Prävention</div>
              </li>
              <li data-item class="menu-main__item"><a href="#" data-link class="menu-main__link">Kundenportale</a>
                <div data-panel class="menu-main__panel">Kundenportale</div>
              </li>
            </ul>
            <div class="header__main__item header__main__item--mobile-actions mobile-actions">
              <a href="#" class="mobile-actions__item">{{> icon name="search" classes="icon mobile-actions__icon" }}</a><a data-burger href="#" class="mobile-actions__item site__burger"><svg data-burger class="mobile-actions__icon icon burger-icon"><g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M0,5 L24,5" class="burger-icon__top"></path><path d="M0,12 L24,12" class="burger-icon__middle"></path><path d="M0,19 L24,19" class="burger-icon__bottom"></path></g></svg></a></div>
          </div>
        </div>
      </div>
    </header>
    <div class="page-content">
      <div class="row">
        <div class="col-md-12">
          <h1>Welcome</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <p class="paragraph">Bacon ipsum dolor sit amet chicken sirloin ball tip, capicola short ribs bresaola boudin ribeye ground round shankle shoulder frankfurter pork loin beef ribs. T-bone biltong ham hock short loin. Capicola pork short ribs pastrami tri-tip frankfurter
            pork chop meatloaf tenderloin hamburger ham hock swine porchetta ball tip brisket. Pork fatback meatball ham hock. Doner brisket venison ribeye, tongue strip steak jerky shankle sausage cow jowl kevin. Shankle turducken andouille sausage pig,
            sirloin meatball doner turkey ball tip pork chop pastrami spare ribs beef biltong. Biltong tri-tip venison porchetta rump leberkas short loin drumstick ham hock.
          </p>
        </div>
        <div class="col-md-3">
          <p class="paragraph">Turkey biltong beef ribs tail pork loin tongue pork belly pork chop pastrami short ribs capicola. Ground round biltong beef ribs, chicken ribeye shoulder short ribs porchetta landjaeger. Ribeye tri-tip beef ball tip, ham landjaeger prosciutto
            rump strip steak tongue meatloaf. T-bone cow andouille landjaeger.
          </p>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__main">
        <div class="footer__main__container">
          <div class="footer__main__row">
            <section class="footer__social footer-social">
              <h3 class="footer-social__headline">In Kontakt bleiben</h3>
              <ul class="footer-social__items">
                <li class="footer-social__item">
                  <a href="#" class="footer-social__link">
                    {{> icon name="facebook" classes="footer-social__icon" }}
                  </a>
                </li>
                <li class="footer-social__item">
                  <a href="#" class="footer-social__link">
                    {{> icon name="twitter" classes="footer-social__icon" }}
                  </a>
                </li>
                <li class="footer-social__item">
                  <a href="#" class="footer-social__link">
                    {{> icon name="xing" classes="footer-social__icon" }}
                  </a>
                </li>
                <li class="footer-social__item">
                  <a href="#" class="footer-social__link">
                    {{> icon name="youtube" classes="footer-social__icon" }}
                  </a>
                </li>
                <li class="footer-social__item">
                  <a href="#" class="footer-social__link">
                    {{> icon name="linked-in" classes="footer-social__icon" }}
                  </a>
                </li>
              </ul>
            </section>
            <section class="footer__links footer-links">
              <h3 class="footer-links__headline">AXA & Sie</h3>
              <ul class="footer-links__menu">
                <li class="footer-links__item"><a href="#" class="footer-links__link"><span class="footer-links__text">Unternehmenskunden</span>{{> icon name="arrow-right" classes="footer-links__icon" }}</a></li>
                <li class="footer-links__item"><a href="#" class="footer-links__link"><span class="footer-links__text">Stellenangebote</span>{{> icon name="arrow-right" classes="footer-links__icon" }}</a></li>
                <li class="footer-links__item"><a href="#" class="footer-links__link"><span class="footer-links__text">Schaden melden</span>{{> icon name="arrow-right" classes="footer-links__icon" }}</a></li>
                <li class="footer-links__item"><a href="#" class="footer-links__link"><span class="footer-links__text">myAXA</span>{{> icon name="arrow-right" classes="footer-links__icon" }}</a></li>
                <li class="footer-links__item"><a href="#" class="footer-links__link"><span class="footer-links__text">Broker</span>{{> icon name="arrow-right" classes="footer-links__icon" }}</a></li>
                <li class="footer-links__item"><a href="#" class="footer-links__link"><span class="footer-links__text">Medien</span>{{> icon name="arrow-right" classes="footer-links__icon" }}</a></li>
                <li class="footer-links__item"><a href="#" class="footer-links__link"><span class="footer-links__text">Blog</span>{{> icon name="arrow-right" classes="footer-links__icon" }}</a></li>
              </ul>
            </section>
            <section class="footer__worldwide footer-worldwide">
              <div class="footer-worldwide__headline">AXA weltweit</div>
              <ul class="footer-worldwide__entities">
                <li href="#" class="footer-worldwide__entity"><a href="#" class="footer-worldwide__link"><span class="footer-worldwide__text">AXA weltweit</span>{{> icon name="arrow-right" classes="footer-worldwide__icon" }}<img src="{{relative "/images/axa-world.svg"}}" class="footer-worldwide__image"></a></li>
              </ul>
            </section>
          </div>
        </div>
      </div>
      <div class="footer__copyline footer-copyline">
        <div class="footer-copyline__container"><span class="footer-copyline__notice">© 2015 AXA Versicherungen AG</span>
          <ul class="footer-copyline__entries">
            <li class="footer-copyline__item"><a href="#" class="footer-copyline__link">Impressum</a></li>
            <li class="footer-copyline__item"><a href="#" class="footer-copyline__link">Nutzungshinweise</a></li>
            <li class="footer-copyline__item"><a href="#" class="footer-copyline__link">Datenschutz</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <div data-mobile class="site__mobile mobile">
    <div class="row">
      <div class="col-md-12 mobile__section">
        <div data-dropdown class="dropdown">
          <div data-dropdown-label class="dropdown__label">
            {{> icon name="arrow-bottom" classes="dropdown__label__icon" }}
            <div data-dropdown-text class="dropdown__label__text"></div>
          </div><select data-dropdown-select class="dropdown__select"><option>Privatkunden</option><option>Unternehmenskunden</option><option>Über AXA</option></select></div>
      </div>
    </div>
    <div class="row">
      <nav id="menu-mobile" data-menu="sliding" class="col-md-12 mobile-menu mobile-menu--sliding">
        <ul data-level class="mobile-menu__level">
          <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link">Übersicht</a></li>
          <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link mobile-menu__link--parent"><span class="mobile-menu__text">Versicherungen & Mehr</span>{{> icon name="arrow-right" classes="mobile-menu__link__parent-icon icon" }}</a>
            <ul id="active-level" data-level class="mobile-menu__level">
              <li class="mobile-menu__item mobile-menu__item--back">
                <a href="#" data-back class="mobile-menu__link mobile-menu__link--back">{{> icon name="arrow-left" classes="mobile-menu__link__back-icon icon" }}<span class="mobile-menu__text">zurück</span></a>
              </li>
              <li class="mobile-menu__item mobile-menu__item--section">
                <div class="mobile-menu__link mobile-menu__link--section"><span class="mobile-menu__text">Versicherungen & Mehr</span></div>
              </li>
              <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">Wohnen & Eigentum</span></a></li>
              <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">Fahrzeug & Reise</span></a></li>
              <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">Vorsorge & Sparen</span></a></li>
            </ul>
          </li>
          <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link mobile-menu__link--parent"><span class="mobile-menu__text">Kontakt & Hilfe</span>{{> icon name="arrow-right" classes="mobile-menu__link__parent-icon icon" }}</a>
            <ul data-level class="mobile-menu__level">
              <li class="mobile-menu__item mobile-menu__item--back">
                <a href="#" data-back class="mobile-menu__link mobile-menu__link--back">{{> icon name="arrow-left" classes="mobile-menu__link__back-icon icon" }}<span class="mobile-menu__text">zurück</span></a>
              </li>
              <li class="mobile-menu__item mobile-menu__item--section">
                <div class="mobile-menu__link mobile-menu__link--section"><span class="mobile-menu__text">Kontakt & Hilfe</span></div>
              </li>
              <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">Schaden melden</span></a></li>
              <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">Berater suchen</span></a></li>
            </ul>
          </li>
          <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">Prävention</span></a></li>
          <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">Kundenportale</span></a></li>
        </ul>
      </nav>
    </div>
    <div class="row">
      <div class="col-md-12 mobile__separator"></div>
    </div>
    <div class="row">
      <div class="col-md-12 list-group">
        <a href="#" class="list-group__item list-group__item--link"><img src="https://avatars3.githubusercontent.com/u/198988?v=3&s=460" class="list-group__avatar"><span class="list-group__text">David Knezić</span></a>
        <a href="#" class="list-group__item list-group__item--link">{{> icon name="feedback" classes="list-group__icon" }}<span class="list-group__text">Kontakt</span></a>
      </div>
    </div>
    <div class="row">
      <ul class="col-md-12 mobile__section">
        <div class="mobile-languages">
          <li class="mobile-languages__items is-active"><a href="#" class="mobile-languages__link is-active">DE</a></li>
          <li class="mobile-languages__items"><a href="#" class="mobile-languages__link">FR</a></li>
          <li class="mobile-languages__items"><a href="#" class="mobile-languages__link">IT</a></li>
          <li class="mobile-languages__items"><a href="#" class="mobile-languages__link">EN</a></li>
        </div>
      </ul>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.80/Bacon.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.1/iframeResizer.min.js"></script>
  <script src="{{relative "/js/style-guide-docs.js"}}"></script>
  {{#eq process.env.NODE_ENV "production" }}
    <script src="{{relative "/dist/docs.js"}}"></script>
    <link rel="stylesheet" href="{{relative "/dist/docs.css"}}">
  {{else}}
    <script src="/dist/bundle.js"></script>
  {{/eq}}
  <script type="text/javascript">
    var $menu = $('#menu-mobile');
    var $activeLevel = $('#active-level');

    $menu.slidingMenu();
    $menu.slidingMenu('level', $activeLevel);
  </script>
</body>

</html>{{!--  Copyright AXA Versicherungen AG 2015--}}