---
title: AXA Web Toolkit
description: The CSS, JS and HTML framework for building responsive AXA web apps!
banner768: https://cloud.githubusercontent.com/assets/198988/20709926/466791a8-b638-11e6-8037-e2528d5aae94.jpg
banner992: https://cloud.githubusercontent.com/assets/198988/20709928/46954634-b638-11e6-958a-268faba34dcc.jpg
banner1200: https://cloud.githubusercontent.com/assets/198988/20709927/4694e9fa-b638-11e6-8b5b-8aed1becabfb.jpg
---

{{#> home}}
  {{#*inline "content"}}

    <div class="banner">
      <div class="banner-bg">
        <img
          class="banner-bg-image"
          src="{{banner768}}"
          srcset="{{banner1200}} 1200w, {{banner992}} 992w, {{banner768}} 768w"
          sizes="100vw"
          alt="A man working on his laptop in a coffee shop" />
     </div>
      <div class="banner-content">
        <div class="container">
          <p class="banner-title"><b>AXA</b><br>Web Toolkit</p>
          <p class="banner-lead">The CSS, JS and HTML framework that is used globally for modern and responsive web apps at AXA.</p>
          <div class="banner-actions">
            <a href="{{relative '/getting-started/'}}" class="banner-action btn btn-ghost btn-lg">Get started</a>
          </div>
        </div>
      </div>
    </div>

    <main id="content" class="container docs-main">

      <p class="lead" style="margin: 50px 0;">
        The Web Toolkit is the <em>CSS, JS and HTML framework</em>
        that we use globally at <a href="https://www.axa.com">AXA</a>
        <em>for modern and responsive web apps</em>. It is based
        on <em>Bootstrap 3</em> and provides <em>many specific components
        and utilities</em> for you to use. It makes developing great web apps
        that follow our
        <a href="{{package.homepageWebGuidelines}}">Web Guidelines</a> super easy!
      </p>

      <div class="row">
        <div class="col-md-4">
          <div class="jumbotron" style="padding: 35px;">
            <p>Get started quickly with the AXA Web Toolkit.</p>
            <p>
              <a href="{{relative "/getting-started/"}}" class="btn btn-primary" role="button">Get started</a>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="jumbotron" style="padding: 35px;">
            <p>View the source code, add issues and contribute.</p>
            <p>
              <a href="{{package.repository.url}}" class="btn btn-default" role="button">View on GitHub</a>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="jumbotron" style="padding: 35px;">
            <p>Read the API reference of the components, utilities and plugins.</p>
            <p>
              <a href="{{relative '/api/'}}" class="btn btn-default" role="button">Browse API reference</a>
            </p>
          </div>
        </div>
      </div>

    </main>

  {{/inline}}
{{/home}}
