---
title: Test page
description: Dev tests
thumbnail: /images/inspiration/pages/test.png
order: 2
---
doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="description", content=config.description)
    meta(name="keywords", content=config.keywords)
    meta(name="author", content=config.author)
    meta(name="robots", content="noindex")

    title= title

    link(rel="stylesheet", href="//fast.fonts.net/cssapi/1da4c08a-73a4-4e34-8997-1c1eeb1a8cca.css")
    link(rel="stylesheet", href=relative("/css/normalize.min.css"))
    link(rel="stylesheet", href=relative("/css/style.min.css"))

    script(src=relative('/js/inspirations.all.min.js'))
  body.site
    include /components/includes/mixins.jade
    
    .site__page
      //.example-header
        .example-header__sticky
          a(href=relative("/examples")).example-header__back
            +svg('arrow-left', ['example-header__back__icon', 'icon'])
            | Back to overview
          .example-header__headline Example
        .example-header__text
          p.example-header__paragaph.
            Dies ist eine Beispielseite mit Demo-Inhalten.
            <br /> Bitte besuchen Sie
            <a class="example-header__link" href="http://axa.ch" >www.axa.ch</a>
            für Ihre Versicherungsanliegen.
          p.example-header__paragaph.
            This is an example page with demo content.
            <br /> Please visit
            <a class="example-header__link" href="http://axa.ch" >www.axa.ch</a>
            for your insurance concerns.
          p.example-header__paragaph.
            Ceci est un exemple de page avec du contenu de démonstration.
            <br /> S'il vous plaît visitez
            <a class="example-header__link" href="http://axa.ch" >www.axa.ch</a>
            pour vos préoccupations d'assurance.
          p.example-header__paragaph.
            Questa è una pagina di esempio con contenuti demo.
            <br /> Si prega di visitare
            <a class="example-header__link" href="http://axa.ch" >www.axa.ch</a>
            per le vostre preoccupazioni di assicurazione.
            
      header.header
        .header__meta
          .header__meta__content
            .header__meta__item.header__meta__menu
              ul.menu.menu--meta
                li.menu__item
                  a.menu__link Privatkunden
                li.menu__item.is-active
                  a.menu__link Unternehmenskunden
                li.menu__item
                  a.menu__link Über AXA
            .header__meta__item.header__meta__search.search.search--header
              input.search__input.search--header(type='text')
              svg.search__icon.search--header.icon
                use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="../../images/icons.svg#search")
              .search__suggestions.search--header
            .header__meta__item.header__meta__language
              a.header__meta__language-button(data-popover="#languageMenu")
                | En
                svg.icon.icon--language-dropdown
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="../../images/icons.svg#arrow-bottom")
              .popover(id="languageMenu")
                .popover__tail.popover__tail--top
                .popover__box
                  .popover__box__header
                    a.popover__close
                      svg.modal__close-icon.icon
                        use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="../../images/icons.svg#modal-close")
                    .popover__box__header__headline Language
                  .popover__box__content__wrapper
                    .popover__box__content
                      ul.menu.menu--language
                        li.menu__item
                          a.menu__link Deutsch
                        li.menu__item
                          a.menu__link Français
                        li.menu__item
                          a.menu__link Italiano
                        li.menu__item
                          a.menu__link English
            a.header__meta__item.header__meta__action myAXA Login
        .header__main
          .header__main__content
            .header__brand.brand
              .brand__logo
              .brand__tagline.brand__tagline--de
            .header__menu
              ul.menu.menu--main
                li.menu__item
                  a.menu__link Versicherungen & Mehr
                li.menu__item.is-active
                  a.menu__link Schaden
                li.menu__item
                  a.menu__link Kontakt & Hilfe
                li.menu__item
                  a.menu__link Prävention
                li.menu__item
                  a.menu__link Kundenportale
            a.header__main__mobile-trigger(href="#")
              +svg('burger', 'header__main__mobile-icon')

      .l-container(style="max-width: 1260px;")
        .l-row
          .l-full
            h1 Welcome

        .l-row
          .l-primary
            p.paragraph.
              Bacon ipsum dolor sit amet chicken sirloin ball tip, capicola short ribs
              bresaola boudin ribeye ground round shankle shoulder frankfurter pork loin
              beef ribs. T-bone biltong ham hock short loin. Capicola pork short ribs
              pastrami tri-tip frankfurter pork chop meatloaf tenderloin hamburger ham
              hock swine porchetta ball tip brisket. Pork fatback meatball ham hock.
              Doner brisket venison ribeye, tongue strip steak jerky shankle sausage
              cow jowl kevin. Shankle turducken andouille sausage pig, sirloin meatball
              doner turkey ball tip pork chop pastrami spare ribs beef biltong.
              Biltong tri-tip venison porchetta rump leberkas short loin drumstick
              ham hock.

          .l-secondary
            p.paragraph.
              Turkey biltong beef ribs tail pork loin tongue pork belly pork chop
              pastrami short ribs capicola. Ground round biltong beef ribs,
              chicken ribeye shoulder short ribs porchetta landjaeger.
              Ribeye tri-tip beef ball tip, ham landjaeger prosciutto rump strip
              steak tongue meatloaf. T-bone cow andouille landjaeger.

      footer.footer
        .footer__content
        .footer__copyline
          .l-container
            ul.menu.menu--copyline
              li.menu__item
                span.menu__link AXA 2014 ©

    .site__mobile-menu.example-mobile-nav
      .site__mobile-menu__header
        h1.site__mobile-menu__title My App
        p.site__mobile-menu__user Max Mustermann
      nav#menu-mobile.menu.menu--sliding
        ul.menu__level
          li.menu__item
            a(href='../').menu__link Overview
          li.menu__item.is-active
            a.menu__link.menu__link--parent.is-active
              | Cool Stuff
              +svg('arrow-right', ['menu__link__parent-icon', 'icon'])
            ul.menu__level.is-current#active-level
              li.menu__item.menu__item--back
                a.menu__link.menu__link--back
                  +svg('arrow-left', ['menu__link__back-icon', 'icon'])
                  | Cool Stuff
              li.menu__item
                a.menu__link.is-active Item 1
              li.menu__item
                a.menu__link Item 2
              li.menu__item
                a.menu__link Item 3
          li.menu__item
            a.menu__link.menu__link--parent
              | More Cool Stuff
              +svg('arrow-right', ['menu__link__parent-icon', 'icon'])
            ul.menu__level
              li.menu__item.menu__item--back
                a.menu__link.menu__link--back
                  +svg('arrow-left', ['menu__link__back-icon', 'icon'])
                  | More Cool Stuff
              li.menu__item
                a.menu__link Item 4
              li.menu__item
                a.menu__link Item 5
              li.menu__item
                a.menu__link Item 6
      .site__mobile-menu__logout
        a.site__mobile-menu__logout__link Logout
      ul.site__mobile-menu__languages
        li.language-item
          a.language-link DE
        li.language-item
          a.language-link FR
        li.language-item
          a.language-link IT
        li.language-item
          a.language-link EN

    script(type='text/javascript').
      var $menu = $('#menu-mobile');
      var $activeLevel = $('#active-level');

      $menu.slidingMenu();
      $menu.slidingMenu('level', $activeLevel);

//- Copyright AXA Versicherungen AG 2015
