---
title: Test page
description: Dev tests
thumbnail: /images/inspiration/pages/test.png
order: 2
---

doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="description", content=config.description)
    meta(name="keywords", content=config.keywords)
    meta(name="author", content=config.author)
    meta(name="robots", content="noindex")

    title= title

    link(rel="stylesheet", href="//fast.fonts.net/cssapi/1da4c08a-73a4-4e34-8997-1c1eeb1a8cca.css")
    link(rel="stylesheet", href=relative("/css/normalize.min.css"))
    link(rel="stylesheet", href=relative("/css/style.min.css"))

  body.site
    include /components/includes/mixins.jade
    
    .site__page
      //.example-header
        .example-header__sticky
          a(href=relative("/examples")).example-header__back
            +svg('arrow-left', ['example-header__back__icon', 'icon-svg'])
            | Back to overview
          .example-header__headline Example
        .example-header__text
          p.example-header__paragaph.
            Dies ist eine Beispielseite mit Demo-Inhalten.
            <br /> Bitte besuchen Sie
            <a class="example-header__link" href="http://axa.ch" >www.axa.ch</a>
            für Ihre Versicherungsanliegen.
          p.example-header__paragaph.
            This is an example page with demo content.
            <br /> Please visit
            <a class="example-header__link" href="http://axa.ch" >www.axa.ch</a>
            for your insurance concerns.
          p.example-header__paragaph.
            Ceci est un exemple de page avec du contenu de démonstration.
            <br /> S'il vous plaît visitez
            <a class="example-header__link" href="http://axa.ch" >www.axa.ch</a>
            pour vos préoccupations d'assurance.
          p.example-header__paragaph.
            Questa è una pagina di esempio con contenuti demo.
            <br /> Si prega di visitare
            <a class="example-header__link" href="http://axa.ch" >www.axa.ch</a>
            per le vostre preoccupazioni di assicurazione.
            
      header.header
        .header__meta
          .header__meta__content
            .header__meta__item.header__meta__menu
              ul.menu.menu--meta
                li.menu__item
                  a.menu__link Privatkunden
                li.menu__item.is-active
                  a.menu__link Unternehmenskunden
                li.menu__item
                  a.menu__link Über AXA
            .header__meta__item.header__meta__search.search.search--header
              input.search__input.search--header(type='text')
              svg.search__icon.search--header.icon-svg
                use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="../../images/icons.svg#search")
              .search__suggestions.search--header
            .header__meta__item.header__meta__language
              a.header__meta__language-button(data-popover="#languageMenu")
                | En
                svg.icon-svg.icon--language-dropdown
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="../../images/icons.svg#arrow-bottom")
              .popover(id="languageMenu")
                .popover__tail.popover__tail--top
                .popover__box
                  .popover__box__header
                    a.popover__close
                      svg.modal__close-icon.icon-svg
                        use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="../../images/icons.svg#modal-close")
                    .popover__box__header__headline Language
                  .popover__box__content__wrapper
                    .popover__box__content
                      ul.menu.menu--language
                        li.menu__item
                          a.menu__link Deutsch
                        li.menu__item
                          a.menu__link Français
                        li.menu__item
                          a.menu__link Italiano
                        li.menu__item
                          a.menu__link English
            a.header__meta__item.header__meta__action myAXA Login
        .header__main
          .header__main__content
            .header__brand.brand
              .brand__logo
              .brand__tagline.brand__tagline--de
            .header__menu
              ul.menu-main(data-menu="main")
                li.menu-main__item.is-active(data-item)
                  a.menu-main__link.is-active(href="#", data-link) Versicherungen & Mehr
                  .menu-main__panel(data-panel) Versicherungen & Mehr
                li.menu-main__item(data-item)
                  a.menu-main__link(href="#", data-link) Schaden
                  .menu-main__panel(data-panel)
                    .row
                      .column.column--4
                        h2 Wohnen & Eigentum
                        ul.menu
                          li.menu__item
                            a.menu__link(href="#") Haushaltversicherung
                          li.menu__item
                            a.menu__link(href="#") Hausratversicherung
                          li.menu__item
                            a.menu__link(href="#") Privathaftpflichtversicherung
                          li.menu__item
                            a.menu__link(href="#") Rechtsschutzversicherung
                      .column.column--4
                        h2 Fahrzeug & Reise
                        ul.menu
                          li.menu__item
                            a.menu__link(href="#") Autoversicherung
                          li.menu__item
                            a.menu__link(href="#") Autoversicherung für Elektroautos
                          li.menu__item
                            a.menu__link(href="#") Motorradversicherung
                          li.menu__item
                            a.menu__link(href="#") Rechtschutzversicherung
                      .column.column--4
                        h2 Vorsorge & Sparen
                        ul.menu
                          li.menu__item
                            a.menu__link(href="#") Lebenversicherung
                          li.menu__item
                            a.menu__link(href="#") Finanzprodukte
                          li.menu__item
                            a.menu__link(href="#") Fondsinformationen
                          li.menu__item
                            a.menu__link(href="#") Aktuelle Zinssätze

                li.menu-main__item(data-item)
                  a.menu-main__link(href="#", data-link) Kontakt & Hilfe
                  .menu-main__panel(data-panel) Kontakt & Hilfe
                li.menu-main__item(data-item)
                  a.menu-main__link(href="#", data-link) Prävention
                  .menu-main__panel(data-panel) Prävention
                li.menu-main__item(data-item)
                  a.menu-main__link(href="#", data-link) Kundenportale
                  .menu-main__panel(data-panel) Kundenportale
            a.header__main__mobile-trigger(href="#")
              +svg('burger', 'header__main__mobile-icon')

      .page-content.container(style="max-width: 1260px;")
        .row
          .column.column--12
            h1 Welcome

        .row
          .column.column--9
            p.paragraph.
              Bacon ipsum dolor sit amet chicken sirloin ball tip, capicola short ribs
              bresaola boudin ribeye ground round shankle shoulder frankfurter pork loin
              beef ribs. T-bone biltong ham hock short loin. Capicola pork short ribs
              pastrami tri-tip frankfurter pork chop meatloaf tenderloin hamburger ham
              hock swine porchetta ball tip brisket. Pork fatback meatball ham hock.
              Doner brisket venison ribeye, tongue strip steak jerky shankle sausage
              cow jowl kevin. Shankle turducken andouille sausage pig, sirloin meatball
              doner turkey ball tip pork chop pastrami spare ribs beef biltong.
              Biltong tri-tip venison porchetta rump leberkas short loin drumstick
              ham hock.

          .column.column--3
            p.paragraph.
              Turkey biltong beef ribs tail pork loin tongue pork belly pork chop
              pastrami short ribs capicola. Ground round biltong beef ribs,
              chicken ribeye shoulder short ribs porchetta landjaeger.
              Ribeye tri-tip beef ball tip, ham landjaeger prosciutto rump strip
              steak tongue meatloaf. T-bone cow andouille landjaeger.

      footer.footer
        .footer__main
          .footer__main__container
            .footer__main__row
              section.footer__social.footer-social
                h3.footer-social__headline In Kontakt bleiben
                ul.footer-social__items
                  li.footer-social__item
                    a.footer-social__link(href="#")
                      +svg('facebook', ['footer-social__icon'])
                  li.footer-social__item
                    a.footer-social__link(href="#")
                      +svg('twitter', ['footer-social__icon'])
                  li.footer-social__item
                    a.footer-social__link(href="#")
                      +svg('xing', ['footer-social__icon'])
                  li.footer-social__item
                    a.footer-social__link(href="#")
                      +svg('youtube', ['footer-social__icon'])
                  li.footer-social__item
                    a.footer-social__link(href="#")
                      +svg('linked-in', ['footer-social__icon'])

              section.footer__links.footer-links
                h3.footer-links__headline AXA & Sie
                ul.footer-links__menu
                  li.footer-links__item
                    a.footer-links__link(href="#")
                      span.footer-links__text Unternehmenskunden
                      +svg('arrow-right', ['footer-links__icon'])
                  li.footer-links__item
                    a.footer-links__link(href="#")
                      span.footer-links__text Stellenangebote
                      +svg('arrow-right', ['footer-links__icon'])
                  li.footer-links__item
                    a.footer-links__link(href="#")
                      span.footer-links__text Schaden melden
                      +svg('arrow-right', ['footer-links__icon'])
                  li.footer-links__item
                    a.footer-links__link(href="#")
                      span.footer-links__text myAXA
                      +svg('arrow-right', ['footer-links__icon'])
                  li.footer-links__item
                    a.footer-links__link(href="#")
                      span.footer-links__text Broker
                      +svg('arrow-right', ['footer-links__icon'])
                  li.footer-links__item
                    a.footer-links__link(href="#")
                      span.footer-links__text Medien
                      +svg('arrow-right', ['footer-links__icon'])
                  li.footer-links__item
                    a.footer-links__link(href="#")
                      span.footer-links__text Blog
                      +svg('arrow-right', ['footer-links__icon'])

              section.footer__worldwide.footer-worldwide
                .footer-worldwide__headline AXA weltweit
                ul.footer-worldwide__entities
                  li.footer-worldwide__entity(href="#")
                    a.footer-worldwide__link(href="#")
                      span.footer-worldwide__text AXA weltweit
                      +svg('arrow-right', ['footer-worldwide__icon'])
                      img.footer-worldwide__image(src=relative('/images/axa-world.svg'))

        .footer__copyline.footer-copyline
          .footer-copyline__container
            span.footer-copyline__notice © 2015 AXA Versicherungen AG
            ul.footer-copyline__entries
              li.footer-copyline__item
                a.footer-copyline__link(href="#") Impressum
              li.footer-copyline__item
                a.footer-copyline__link(href="#") Nutzungshinweise
              li.footer-copyline__item
                a.footer-copyline__link(href="#") Datenschutz

    .site__mobile-menu.example-mobile-nav
      .site__mobile-menu__header
        h1.site__mobile-menu__title My App
        p.site__mobile-menu__user Max Mustermann
      nav#menu-mobile.menu.menu--sliding
        ul.menu__level
          li.menu__item
            a(href='../').menu__link Overview
          li.menu__item.is-active
            a.menu__link.menu__link--parent.is-active
              | Cool Stuff
              +svg('arrow-right', ['menu__link__parent-icon', 'icon-svg'])
            ul.menu__level.is-current#active-level
              li.menu__item.menu__item--back
                a.menu__link.menu__link--back
                  +svg('arrow-left', ['menu__link__back-icon', 'icon-svg'])
                  | Cool Stuff
              li.menu__item
                a.menu__link.is-active Item 1
              li.menu__item
                a.menu__link Item 2
              li.menu__item
                a.menu__link Item 3
          li.menu__item
            a.menu__link.menu__link--parent
              | More Cool Stuff
              +svg('arrow-right', ['menu__link__parent-icon', 'icon-svg'])
            ul.menu__level
              li.menu__item.menu__item--back
                a.menu__link.menu__link--back
                  +svg('arrow-left', ['menu__link__back-icon', 'icon-svg'])
                  | More Cool Stuff
              li.menu__item
                a.menu__link Item 4
              li.menu__item
                a.menu__link Item 5
              li.menu__item
                a.menu__link Item 6
      .site__mobile-menu__logout
        a.site__mobile-menu__logout__link Logout
      ul.site__mobile-menu__languages
        li.language-item
          a.language-link DE
        li.language-item
          a.language-link FR
        li.language-item
          a.language-link IT
        li.language-item
          a.language-link EN

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.80/Bacon.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.1/iframeResizer.min.js")
    script(src=relative('/js/style-guide-docs.js'))

    script(type='text/javascript').
      var $menu = $('#menu-mobile');
      var $activeLevel = $('#active-level');

      $menu.slidingMenu();
      $menu.slidingMenu('level', $activeLevel);

//- Copyright AXA Versicherungen AG 2015
