---
title: Test page
description: Dev tests
thumbnail: /images/inspiration/pages/test.png
order: 2
collection: inspiration
draft: true
---
doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="description", content=config.description)
    meta(name="keywords", content=config.keywords)
    meta(name="author", content=config.author)
    meta(name="robots", content="noindex")

    title= title

    link(rel="stylesheet", href=relative("/css/normalize.min.css"))
    link(rel="stylesheet", href=relative("/css/style.min.css"))

    script(src=relative('/js/inspirations.all.min.js'))
  body.site
    .site__page
      .example-header
        .example-header__sticky
          a(href=relative("/examples")).example-header__back
            +svg('arrow-left', ['example-header__back__icon', 'icon-svg'])
            | Back to overview
          .example-header__headline Example
        .example-header__text
          p.example-header__paragaph.
            Dies ist eine Beispielseite mit Demo-Inhalten.
            <br /> Bitte besuchen Sie
            <a class="example-header__link" href="http://axa.ch" >www.axa.ch</a>
            für Ihre Versicherungsanliegen.
          p.example-header__paragaph.
            This is an example page with demo content.
            <br /> Please visit
            <a class="example-header__link" href="http://axa.ch" >www.axa.ch</a>
            for your insurance concerns.
          p.example-header__paragaph.
            Ceci est un exemple de page avec du contenu de démonstration.
            <br /> S'il vous plaît visitez
            <a class="example-header__link" href="http://axa.ch" >www.axa.ch</a>
            pour vos préoccupations d'assurance.
          p.example-header__paragaph.
            Questa è una pagina di esempio con contenuti demo.
            <br /> Si prega di visitare
            <a class="example-header__link" href="http://axa.ch" >www.axa.ch</a>
            per le vostre preoccupazioni di assicurazione.

      header.header
        .l-container.header__container
          a.header__mobile-trigger(data-toggle='site-menu', data-target='.site')
            +svg('burger', ['header__mobile-burger', 'icon-svg'])
          .header__brand.brand
            .brand__logo
          .header__meta
            .header__meta__upper
              .header__meta__language
                ul.menu.menu--language
                  li.menu__item
                    a.menu__link DE
                  li.menu__item
                    a.menu__link FR
                  li.menu__item
                    a.menu__link IT
                  li.menu__item
                    a.menu__link EN
              .header__meta__menu
                ul.menu.menu--meta
                  li.menu__item
                    a(href='../').menu__link Back to overview
            .header__meta__lower
              .header__meta__welcome
                ul
                  li.header__meta__welcome__main Welcome to AXA
                  li.header__meta__welcome__secondary Max Mustermann
        .header__menu
          .l-container
            ul.menu.menu--main
              li.menu__item
                a.menu__link.menu__link--home
              li.menu__item.is-active
                a.menu__link Cool Stuff
              li.menu__item
                a.menu__link More Cool Stuff

      .l-container
        .l-row
          .l-full
            h1 Welcome

        .l-row
          .l-primary
            p.paragraph.
              Bacon ipsum dolor sit amet chicken sirloin ball tip, capicola short ribs
              bresaola boudin ribeye ground round shankle shoulder frankfurter pork loin
              beef ribs. T-bone biltong ham hock short loin. Capicola pork short ribs
              pastrami tri-tip frankfurter pork chop meatloaf tenderloin hamburger ham
              hock swine porchetta ball tip brisket. Pork fatback meatball ham hock.
              Doner brisket venison ribeye, tongue strip steak jerky shankle sausage
              cow jowl kevin. Shankle turducken andouille sausage pig, sirloin meatball
              doner turkey ball tip pork chop pastrami spare ribs beef biltong.
              Biltong tri-tip venison porchetta rump leberkas short loin drumstick
              ham hock.

          .l-secondary
            p.paragraph.
              Turkey biltong beef ribs tail pork loin tongue pork belly pork chop
              pastrami short ribs capicola. Ground round biltong beef ribs,
              chicken ribeye shoulder short ribs porchetta landjaeger.
              Ribeye tri-tip beef ball tip, ham landjaeger prosciutto rump strip
              steak tongue meatloaf. T-bone cow andouille landjaeger.

      footer.footer
        .footer__content
        .footer__copyline
          .l-container
            ul.menu.menu--copyline
              li.menu__item
                span.menu__link AXA 2014 ©

    .site__mobile-menu.example-mobile-nav
      .site__mobile-menu__header
        h1.site__mobile-menu__title My App
        p.site__mobile-menu__user Max Mustermann
      nav#menu-mobile.menu.menu--sliding
        ul.menu__level
          li.menu__item
            a(href='../').menu__link Overview
          li.menu__item.is-active
            a.menu__link.menu__link--parent.is-active
              | Cool Stuff
              +svg('arrow-right', ['menu__link__parent-icon', 'icon-svg'])
            ul.menu__level.is-current#active-level
              li.menu__item.menu__item--back
                a.menu__link.menu__link--back
                  +svg('arrow-left', ['menu__link__back-icon', 'icon-svg'])
                  | Cool Stuff
              li.menu__item
                a.menu__link.is-active Item 1
              li.menu__item
                a.menu__link Item 2
              li.menu__item
                a.menu__link Item 3
          li.menu__item
            a.menu__link.menu__link--parent
              | More Cool Stuff
              +svg('arrow-right', ['menu__link__parent-icon', 'icon-svg'])
            ul.menu__level
              li.menu__item.menu__item--back
                a.menu__link.menu__link--back
                  +svg('arrow-left', ['menu__link__back-icon', 'icon-svg'])
                  | More Cool Stuff
              li.menu__item
                a.menu__link Item 4
              li.menu__item
                a.menu__link Item 5
              li.menu__item
                a.menu__link Item 6
      .site__mobile-menu__logout
        a.site__mobile-menu__logout__link Logout
      ul.site__mobile-menu__languages
        li.language-item
          a.language-link DE
        li.language-item
          a.language-link FR
        li.language-item
          a.language-link IT
        li.language-item
          a.language-link EN

    script(type='text/javascript').
      var $menu = $('#menu-mobile');
      var $activeLevel = $('#active-level');

      $menu.slidingMenu();
      $menu.slidingMenu('level', $activeLevel);

// Copyright AXA Versicherungen AG 2015
